@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

body {
    min-width: 760px;
}
#line_header{
  padding-top: 15px;
  text-align: center;
}
#foodinfo{
    padding-left: 82px;
    padding-right: 82px;
    height: 100%;
}

    .fixed_headers {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }
    .fixed_headers th {
      text-decoration: underline;
    }
    .fixed_headers th,
    .fixed_headers td {
      height: 100%;
      text-align: center;
    }
    .fixed_headers td:nth-child(1),
    .fixed_headers th:nth-child(1) {
      min-width: 100px;
      max-width: 100px;
    }
    .fixed_headers td:nth-child(2),
    .fixed_headers th:nth-child(2) {
      min-width: 50px;
      max-width: 50px;    }
    .fixed_headers td:nth-child(3),
    .fixed_headers th:nth-child(3) {
      min-width: 100px;
      max-width: 100px;
    }
    .fixed_headers td:nth-child(4),
    .fixed_headers th:nth-child(4) {
      min-width: 70px;
      max-width: 70px;
    }
    .fixed_headers td:nth-child(5),
    .fixed_headers th:nth-child(5) {
      min-width: 60px;
      max-width: 60px;
    }
    .fixed_headers td:nth-child(6),
    .fixed_headers th:nth-child(6) {
      min-width: 135px;
      max-width: 135px;
    }
    .fixed_headers td:nth-child(7),
    .fixed_headers th:nth-child(7) {
      min-width: 110px;
      max-width: 110px;
    }
    .fixed_headers td:nth-child(8),
    .fixed_headers th:nth-child(8) {
      min-width: 140px;
      max-width: 140px;
    }
    .fixed_headers td:nth-child(9),
    .fixed_headers th:nth-child(9) {
      min-width: 100px;
      max-width: 100px;
    }
    .fixed_headers td:nth-child(10),
    .fixed_headers th:nth-child(10) {
      min-width: 90px;
      max-width: 90px;
    }
    .fixed_headers td:nth-child(11),
    .fixed_headers th:nth-child(11) {
      min-width: 100px;
      max-width: 100px;
    }
    .fixed_headers td:nth-child(12),
    .fixed_headers th:nth-child(12) {
      min-width: 60px;
      max-width: 60px;
    }
    .fixed_headers td:nth-child(13),
    .fixed_headers th:nth-child(13) {
      min-width: 150px;
      max-width: 150px;
    }
/*    .fixed_headers td:nth-child(14),
    .fixed_headers th:nth-child(14) {
      min-width: 150px;
      max-width: 100px;
    }*/

    .fixed_headers thead {
      background-color: #333333;
      color: #fdfdfd;
    }
    .fixed_headers thead tr {
      display: block;
      position: relative;
    }
    .fixed_headers tbody {
      display: block;
      overflow: auto;
      width: 100%;
      height: 300px;
    }
    .fixed_headers tbody tr:nth-child(even) {
      background-color: #dddddd;
    }
    .old_ie_wrapper {
      height: 300px;
      width: 750px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .old_ie_wrapper tbody {
      height: auto;
    }

#info{
  /*padding-top: 50px;*/
  text-align: center;
}
.parcoords {
  display: block;
  font-family: "Roboto Slab";
}
#tooltip {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  color:black;
}
.parcoords svg,
.parcoords canvas {
  font: 10px sans-serif;
  position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
  pointer-events: none;
}

.axis .title {
  font-size: 10px;
  transform: rotate(-21deg) translate(-5px,-6px);
  fill: #222;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.axis .tick text {
  fill: #222;
  opacity: 0;
  pointer-events: none;
}

.axis.manufac_name .tick text,
.axis.food_group .tick text {
  opacity: 1;
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
  fill: none;
  stroke: #222;
  stroke-width: 1px;
}

.axis:hover .title {
  font-weight: bold;
}

.axis:hover .tick text {
  opacity: 1;
}

.axis.active .title {
  font-weight: bold;
}

.axis.active .tick text {
  opacity: 1;
  font-weight: bold;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: 1px;
}

pre {
  width: 100%;
  height: 300px;
  margin: 6px 12px;
  tab-size: 40;
  font-size: 10px;
  overflow: auto;
  font-family: "Roboto Slab";
}