<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS 467 Final</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

		<!-- D3.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.3.0/d3-legend.js" charset="utf-8"></script>
        <script src = "{{ url_for('static',filename='js/radar_file.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.css') }}"  media="screen,projection"/>
{#        <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>#}
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="{{ url_for('static',filename='js/materialize.js') }}"></script>

    <div class="navbar-fixed">
            <nav class = "blue darken-4">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center"><strong>Food Data Analyzer</strong></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/radar">View Food Trends</a></li>
                        <li><a href="/line">Explore Food Data</a></li>
                    </ul>

                </div>
            </nav>
        </div>
</head>
<body>
<br><br><br>
<br><br><br>
<br><br><br><br>


<div class="container">
    Our team collected our food data over two weeks by using MyFitnessPal and recording the cost. This data was then visualized in two ways seen under View Food Trends and Explore Food Data.<br>
    <br>
    <b>View Food Trends:</b>
    <br>
    On this page you can view a radar graph where each colored shape respresents a person. The gray background circle represents the ideal percentages for all of the nutritional values. So ideally, everyone would be a full circle. However, most people do not get the required percentages of all the nutritional values, which is seen on this graph. Also, as everyone's information is overlayed, this enables the user to directly compare any two or more users to see who is the "healthiest."<br>
    <br>
    Added features on this pages are the following:<br>
    The radar graph can be seen for the following options: all meals, breakfast, lunch, dinner, snacks, or drinks. The graphs are determined by aggregating the values of all of the foods for that option.<br>
    <br>
    On the right side the total cost spent for that option is seen in a bar graph.<br>
    If one person is hovered over, their healthiest food (as determined by the study "<a href="http://www.people.hbs.edu/mbazerman/papers/08-082.pdf">Modeling Expert Opinions on Food Healthiness: A Nutrition Metric</a>") is shown.<br>
    <br>
    <br>
    <b>Explore Food Data:</b>
    <br>
    This page focuses more on the comparison of cost and nutrition. A parallel coordinate line graph is used to show a general idea of each of the values. This graph can be filtered through by selecting a range for any of the y-axes. Also, below the graph is a chart that shows all of the information for each of the lines displayed on the graph at a given time. This allows for the user to clearly see the values for each of the lines.

</div>

</body>
</html>